;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[colors]
;background = ${xrdb:color0:#222}
;background = #3B3735
;background = #306d89
;background-alt = #444
;background-alt = #FC7E18
;;foreground = ${xrdb:color7:#222}
;foreground = #dfdfdf
;;foreground-alt = #555
;foreground-alt = #B6B925
;primary = #ffb52a
;secondary = #e60053
;alert = #bd2c40
;gruv-yellow = #F8BB2E
;gruv-green = #B6B925

background = ${xrdb:background}
;background = #6444AA
foreground = ${xrdb:foreground}
black = ${xrdb:color0}
black-light = ${xrdb:color8}
red = ${xrdb:color1}
red-light = ${xrdb:color9} 
green = ${xrdb:color2} 
green-light = ${xrdb:color10}
yellow = ${xrdb:color3}
yellow-light = ${xrdb:color11}
blue = ${xrdb:color4} 
blue-light = ${xrdb:color12}
magenta = ${xrdb:color5}
magenta-light = ${xrdb:color13}
cyan = ${xrdb:color6}
cyan-light = ${xrdb:color14}
white = ${xrdb:color7}
white-light = ${xrdb:color15}
alert = #bd2c40


[bar/mainbar0]
inherit = bar/barbase
modules-left = workspace0
[module/workspace0]
type = custom/script
exec = leftwm-state -w 0 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar1]
inherit = bar/barbase
modules-left = workspace1
[module/workspace1]
type = custom/script
exec = leftwm-state -w 1 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar2]
inherit = bar/barbase
modules-left = workspace2
[module/workspace2]
type = custom/script
exec = leftwm-state -w 2 -t $SCRIPTPATH/template.liquid
tail = true

[bar/mainbar3]
inherit = bar/barbase
modules-left = workspace3
[module/workspace3]
type = custom/script
exec = leftwm-state -w 3 -t $SCRIPTPATH/template.liquid
tail = true

[bar/example]
;monitor = ${env:MONITOR:HDMI-1}
width = 100%
height = 22
;offset-x = 1%
;offset-y = 1%
;radius = 15.0
fixed-center = true

background = ${colors.background}
foreground = ${colors.foreground}

line-size = 0
line-color = #f00

;border-size = 4
border-size = 5
border-color = ${colors.background}
;separator = " "
padding-left = 1
padding-right = 1

;module-margin-left = 1
;module-margin-right = 1

;font-0 = fixed:pixelsize=10;1
;font-0 = "JetBrains Mono:weight:Bold:size=9;1"
font-0 = Iosevka:size=11:style=regular;1
;font-1 = unifont:fontformat=truetype:size=8:antialias=false;0
;font-2 = siji:pixelsize=10;1
font-1 = Material Design Icons:style=Regular:size=12;2

modules-left = rof bspwm xwindow
modules-center = 
modules-right = mpd memory cpu pulseaudio wlan eth date powermenu

tray-position = right
;tray-padding = 1 
;hide 
;tray-background = #0063ff
tray-background = ${colors.foreground}

;wm-restack = bspwm
;wm-restack = i3

;override-redirect = true

;scroll-up = bspwm-desknext
;scroll-down = bspwm-deskprev

;scroll-up = i3wm-wsnext
;scroll-down = i3wm-wsprev

cursor-click = pointer
cursor-scroll = ns-resize

[module/ewmh]
type = internal/xworkspaces
label-active = " %icon% %name%  "
label-active-foreground = ${colors.foreground-alt}
label-active-background = ${colors.background-alt}
label-active-underline = ${colors.primary}
label-occupied = " %icon% %name%  "
label-occupied-underline = ${colors.secondary}
label-urgent = " %icon% %name%  "
label-urgent-foreground = ${colors.foreground}
label-urgent-background = ${colors.background}
label-urgent-underline  = ${colors.alert}
label-empty = " %icon% %name%  "
label-empty-foreground = ${colors.foreground}


[module/xwindow]
type = internal/xwindow
label = %{F#4b4f66}%title:0:10:...%%{F-}
;;
label-padding = 1
label-empty = Desktop
label-empty-padding = 1
label-background = ${colors.foreground} 

[module/xkeyboard]
type = internal/xkeyboard
blacklist-0 = num lock

;format-prefix = " "
format-prefix = "󰌌"
format-prefix-foreground = ${colors.foreground-alt}
format-prefix-underline = ${colors.secondary}

label-layout = %layout%
label-layout-underline = ${colors.secondary}

label-indicator-padding = 2
label-indicator-margin = 1
label-indicator-background = ${colors.secondary}
label-indicator-underline = ${colors.secondary}

[module/filesystem]
type = internal/fs
interval = 25

mount-0 = /

label-mounted = %{F#0a81f5}%mountpoint%%{F-}: %percentage_used%%
label-mounted-padding = 1
label-unmounted = %mountpoint% not mounted
label-unmounted-foreground = ${colors.foreground-alt}
label-mounted-background = ${colors.green}
[module/bspwm]
type = internal/bspwm
;pin-workspaces = true
;inline-mode = false

;rm
format = <label-state>
ws-icon-0 = Home;󰋞
ws-icon-1 = Web;󰇧
ws-icon-2 = Work;󰌥
ws-icon-3 = Misc;󰒓
ws-icon-default = 󰒓
;rm

;label-focused = %index%
label-focused = %{F#3B3735}%icon% %name%%{F-}
label-focused-background = ${colors.foreground}
label-focused-underline= ${colors.primary}
label-focused-padding = 1

;label-occupied = %index%
label-occupied = %icon%
label-occupied-padding = 1

;label-urgent = %index%!
label-urgent = %icon%
label-urgent-background = ${colors.alert}
label-urgent-padding = 1

label-empty = %icon% 
label-empty-background = ${colors.background}
label-empty-foreground = ${colors.yellow-light}
label-empty-padding = 1
;changed the padding from 2 to 1
; Separator in between workspaces
; label-separator = |


[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |


[module/mpd]
type = internal/mpd
format-online = <label-song> <icon-prev> <icon-stop> <toggle> <icon-next>
;remove
format-online-background = ${colors.green}
format-online-padding = 1
format-online-foreground = ${colors.background}
;remove
;icon-prev = 
;icon-stop = 
;icon-play = 
;icon-pause = 
;icon-next = 
;icon-music = 󰝚
icon-prev = 󰒮
icon-stop = 󰚍
icon-play = 󰐊
icon-pause = 󰏤
icon-next = 󰒭



label-song-maxlen = 25
label-song-ellipsis = true
;label-song-background = ${colors.background-alt}
;label-song-background = ${colors.background}

[module/xbacklight]
type = internal/xbacklight

format = <label> <bar>
label = BL

bar-width = 10
bar-indicator = |
bar-indicator-foreground = #fff
bar-indicator-font = 2
bar-fill = ─
bar-fill-font = 2
bar-fill-foreground = #9f78e1
bar-empty = ─
bar-empty-font = 2
bar-empty-foreground = ${colors.foreground-alt}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
;remove
;remove
interval = 2
;format-prefix = "cpu: "
;
format-prefix = " 󰻠"
;
format-prefix-foreground = ${colors.background}
format-prefix-background = ${colors.blue}
;format-prefix-foreground = ${colors.green}
format-underline = #f90000
label = %percentage:2%%
label-background = ${colors.blue}
label-foreground = ${colors.background}

label-padding = 1
[module/memory]
type = internal/memory
interval = 2
;format-prefix = "mem: "
;
format-prefix = " 󰍛"
;
format-prefix-foreground = ${colors.background}
format-prefix-background = ${colors.blue}
format-underline = #4bffdc
label = %percentage_used%%
label-background = ${colors.blue}
label-foreground = ${colors.background}
label-padding = 1


[module/wlan]
type = internal/network
#interface = net1
interface = wlp1s0f0u9
interval = 3.0

format-connected = <ramp-signal> <label-connected>
format-connected-underline = #9f78e1
label-connected = %essid%
;remove
label-connected-foreground = ${colors.background}
format-connected-background = ${colors.blue}
ramp-signal-padding = 1
format-connected-padding = 1
;remove
format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

;ramp-signal-0 = 
;ramp-signal-1 = 
;ramp-signal-2 = 
;ramp-signal-3 = 
;ramp-signal-4 = 
ramp-signal-0 = 󰤯
ramp-signal-1 = 󰤟
ramp-signal-2 = 󰤢
ramp-signal-3 = 󰤥
ramp-signal-4 = 󰤨
;ramp-signal-foreground = ${colors.foreground-alt}
ramp-signal-foreground = ${colors.background}

[module/eth]
type = internal/network
interface = void0
interval = 3.0

format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

[module/date]
type = internal/date
interval = 5

date =
date-alt = "%Y-%m-%d"

time =%H:%M
time-alt = %H:%M:%S

;format-prefix = 
;
format-prefix = 󰃭
;
;format-prefix-foreground = ${colors.foreground-alt}
format-prefix-foreground = ${colors.background}
format-prefix-background = ${colors.green}
format-underline = #0a6cf5
format-prefix-padding = 1
label = %date% %time%
label-background = ${colors.green}
label-padding = 1
label-foreground = ${colors.background}

[module/pulseaudio]
type = internal/pulseaudio

;format-volume = <ramp-volume> <bar-volume>
format-volume = <label-volume>
;label-volume = VOL %percentage%%
label-volume = 󰕾 %percentage%%
label-volume-foreground = ${root.background}
;extra added 
;format-volume-background = ${colors.yellow}
format-volume-background = ${colors.green}
format-volume-padding = 1
label-muted-padding = 1
;ramp-volume-0 = 󰕿
;ramp-volume-1 = 󰖀
;ramp-volume-2 = 󰕾
;ramp-volume-foreground = ${colors.background}
;will remove
label-muted = 🔇 muted
label-muted-foreground = #666

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/alsa]
type = internal/alsa

format-volume = <label-volume> <bar-volume>
label-volume = VOL
label-volume-foreground = ${root.foreground}

format-muted-prefix = " "
format-muted-foreground = ${colors.foreground-alt}
label-muted = sound muted

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/battery]
type = internal/battery
battery = BAT0
adapter = ADP1
full-at = 98

format-charging = <animation-charging> <label-charging>
format-charging-underline = #ffb52a

format-discharging = <animation-discharging> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <ramp> <label>
format-underline = #f50a4d
format-warn = <ramp> <label-warn>
format-warn-underline = ${self.format-underline}

label = %temperature-c%
label-warn = %temperature-c%
label-warn-foreground = ${colors.secondary}

;ramp-0 = 
;ramp-1 = 
;ramp-2 = 
ramp-0 = 󰔄
ramp-1 = 󰔄
ramp-2 = 󰏈
;ramp-foreground = ${colors.foreground-alt}
ramp-foreground = ${colors.green}

[module/rof]
type = custom/text 
content = "tuxm" 
click-left = dmenu_run -c -l 10 -p tuxm
content-foreground = ${colors.background}
content-padding = 1 
content-background = ${colors.blue}

[module/search]
type = custom/text 
content = "󰜏" 
content-background = ${colors.background}
click-left = xdg-open http://www.google.com
content-foreground = ${colors.foreground-alt}
content-padding = 1


[module/powermenu]
type = custom/menu

expand-right = true

;format-spacing = 1

label-open =󰐥
;label-open-foreground = ${colors.secondary}
label-open-foreground = ${colors.background}
label-open-background = ${colors.green}
label-close =  cancel
label-close-foreground = ${colors.secondary}
label-separator = |
label-separator-foreground = ${colors.foreground-alt}
label-open-padding = 1
;label-open-foreground = ${colors.background}
;label-open-margin = 1
;label-open-background = ${colors.yellow}
menu-0-0 = reboot
menu-0-0-exec = menu-open-1
menu-0-1 = power off
menu-0-1-exec = menu-open-2

menu-1-0 = cancel
menu-1-0-exec = menu-open-0
menu-1-1 = reboot
menu-1-1-exec = sudo reboot

menu-2-0 = power off
menu-2-0-exec = sudo poweroff
menu-2-1 = cancel
menu-2-1-exec = menu-open-0

;[module/app]
;type = custom/script
;exec = echo  
;exec-if = firefox & 
;format-underline = #268bd2
;format-prefix = " "
;format-prefix-foreground = #5b


[settings]
screenchange-reload = true
;compositing-background = xor
;compositing-background = screen
;compositing-foreground = source
;compositing-border = over
;pseudo-transparency = false

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini
