[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/tuxmaster/Desktop/Kalculator.desktop]
row=4
col=0

[/home/tuxmaster/Desktop/firefox.desktop]
row=3
col=0

[/home/tuxmaster/Desktop/Wordpad.desktop]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/tuxmaster]
row=1
col=0

